<!DOCTYPE html>
<html lang="en" data-theme="{{default_theme}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{style}}">
</head>

<body>

    <div id="header">
    </div>

    <div id="main-wrapper">
        <div id="main"></div>
        <div id="sidebar"></div>
    </div>

</body>

</html>